@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Raleway+Dots&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Dirt&display=swap");

h2 {
  color: white;
  font-family: "JetBrains Mono", monospace;
  font-size: 35px;
  text-align: center;
}

.portfolio-body {
  display: flex;
  justify-content: column; /* Centers the images horizontally */
  gap: 20px; /* Adds spacing between the images */
  justify-content: center;
  align-items: center; /* Aligns the images vertically in the center */
  margin-top: 20px;
  flex-wrap: wrap;
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
  padding: 2em;
}

.portfolio-item p {
  margin: 0;
  font-size: 14px;
  color: white; 
}

.portfolio-body img {
  height: auto;
  cursor: pointer; 
}

.computer {
  width: 15em;
  height: 10em;
}

.itunes {
  width: 10em;
  height: 10em;
}

.cv {
  width: 10em;
  height: 11em;
}

.todo {
  width: 10em;
  height: 11em;
}