@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Raleway+Dots&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Dirt&display=swap');

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.App-logo {
  width: 13em;
  height: 13em;
  float: left;

}

body {
  cursor: none; /* Hides the default cursor */
}

.cursor {
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #c4b2f3;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s ease;
}

.particle {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(162, 132, 243, 0.8);
  border-radius: 50%;
  pointer-events: none;
  animation: particle-animation 0.5s forwards;
}

@keyframes particle-animation {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.moving-text {
  display: inline-block;
  transition: transform 0.2s ease;
}

.moving-text:hover {
  transform: translate(10px, 10px); /* Move text on hover */
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the page takes full height */
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
  text-align: center;
  padding: 1em;
  color: white;
  background-color: rgba(63, 63, 63, 0.562);
  font-family: "JetBrains Mono", monospace;
}
